langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingFace
langgraph
langchain-text-splitters
python-dotenv
Flask
requests
sounddevice 
scipy
SpeechRecognition
PyAudio
numpy==2.2.6
openai-whisper
ffmpeg-python
