langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingFace
langgraph
langchain-text-splitters
huggingface-hub
sentence-transformers
python-dotenv
PyPDF2
Flask
requests
openai 
sounddevice 
scipy
streamlit
langchain-google-genai
elevenlabs
SpeechRecognition
PyAudio
numpy==2.3.3
openai-whisper
torch
ffmpeg-python